<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="GTV Tours | Globetrotters Voyage" />
    <meta property="og:description" content="Domestic Tours | International Tours | Cruises | Flights | Hotels" />
    <title>GTV Tours | Globetrotters Voyage</title>
    <link rel="shortcut icon" href="/Images/GTV_BLACK_MAN.png" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Sansita' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&family=Nabla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/?index.ejs"><img src="/Images/Logo_Nav.png" id="navbar" alt="Globetrotters Voyage"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/?index.ejs">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="list" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Domestic</a>
              <ul class="dropdown-menu">
                <div class="pack">
                  <div class="dom">
                    <li><a class="dropdown-item" href="/?package=Himachal">Himachal</a></li>
                    <li><a class="dropdown-item" href="/?package=Andaman">Andaman</a></li>
                    <li><a class="dropdown-item" href="/?package=Kerala">Kerala</a></li>
                    <li><a class="dropdown-item" href="/?package=Kashmir">Kashmir</a></li>
                    <li><a class="dropdown-item" href="/?package=Goa">Goa</a></li>
                    <li><a class="dropdown-item" href="/?package=North East">North East</a></li>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="list" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">International</a>
              <ul class="dropdown-menu"> 
                <div class="ext">
                <li><a class="dropdown-item" id="cru" href="/?package=Cruise">Cruises</a></li>
                <li><a class="dropdown-item" id="fd" href="/?package=Fixed Departure">Fixed Departures</a></li>
                </div><hr>
                <div class="int">
                  <div class="list1">
                    <li><a class="dropdown-item" href="/?package=Turkey">Turkey</a></li>
                    <li><a class="dropdown-item" href="/?package=Europe">Europe</a></li>
                    <li><a class="dropdown-item" href="/?package=Bali">Bali</a></li>
                    <li><a class="dropdown-item" href="/?package=Thailand">Thailand</a></li>
                    <li><a class="dropdown-item" href="/?package=Dubai">Dubai</a></li>
                    <li><a class="dropdown-item" href="/?package=Maldives">Maldives</a></li>
                    <li><a class="dropdown-item" href="/?package=Vietnam">Vietnam</a></li>
                  </div>
                  <div class="list2">
                    <li><a class="dropdown-item" href="/?package=Sri Lanka">Sri Lanka</a></li>
                    <li><a class="dropdown-item" href="/?package=Hong Kong">Hong Kong</a></li>
                    <li><a class="dropdown-item" href="/?package=Saudi Arabia">Saudi Arabia</a></li>
                    <li><a class="dropdown-item" href="/?package=Malaysia">Malaysia</a></li>
                    <li><a class="dropdown-item" href="/?package=Singapore">Singapore</a></li>
                    <li><a class="dropdown-item" href="/?package=Mauritius">Mauritius</a></li>
                  </div>
              </div>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#packages">Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search" id="search">
            <input class="form-control me-2" type="search" placeholder="Search ..." aria-label="Search">
            <button onclick="showAlert()" class="btn btn-outline-success" type="submit"><i class="fa fa-search fa-2x"></i></button>
          </form> -->
          
          

        </div>
      </div>
    </nav>
    <div class="bg">
      <img src="/Images/home_bg.jpg" alt="Background Image">
    </div> 

  <!-- About Us -->
  <section id="about" class="about">
    <div class="hero-image">
      <div id="about-us">
        <div class="span">
          <h1 class="about-title">About Us</h1>
          <p><strong style="color: #006092; font-size: 20px; text-align: center;">Dream. Discover. Explore.</strong><br>Inspiring Destinations within your reach. Globetrotters Voyage (GTV Tours) is a Tours and Travel company located in Mumbai, Maharashtra, India. Leading the way to your desired destination. From the Snowy Mountains in the North to the Sandy Beaches and Lucious Greenery in the South, from the Historical Forts, Ancestral Temples and Golden Deserts in the West to the Traditional Culture and Picturesque Hilly Areas in the East, we are the key to your Fantasies. It feels good to be lost in the right direction. Let us know about your travelling bucket list and we here to keep a check on them. Relax...You're with us! We make it simple. GTV Tours ensures that you get an Authentic and Enhanced experience you simply could not have on your own. Leave behind your worries and enjoy every minute of your trip.<br><strong style="color: #006092; font-size: 20px;">Bon Voyage!</strong><br><br><a href="/?page=ReadMore"><button><strong class="read">&nbsp;Read More...</strong></button></a></p>
        </div>        
      </div>
    </div>
  </section>

  <!-- Gallery -->
  <div id="gallery" class="gallery-title">
    <p>Photo Gallery</p>
    <h1>Photo's from Travellers</h1>
    <section class="gallery">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/Images/Gallery4.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery6.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery9.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery11.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery14.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery15.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery16.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery17.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery18.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery23.png" alt="Images"></div>
          <div class="swiper-slide"><img src="/Images/Gallery24.png" alt="Images"></div>
        </div>
      </div>
    </section>
  </div>
  <!-- Destinations -->
  <section id="packages" class="destination">
    <h3>Discover Places</h3>
    <h1 class="d-title">Popular Destinations</h1>
    <div class="row">
      <div class="column cruise">
        <a href="/?package=Cruise"><img src="/Images/Cruise.png" title="Cruise"></a>
      </div> 
      <div class="column bali">
        <a href="/?package=Bali"><img src="/Images/Bali.png" title="Bali"></a>
      </div>
      <div class="column dubai">
        <a href="/?package=Dubai"><img src="/Images/Dubai.png" title="Dubai"></a>
      </div>
      <div class="column thailand">
        <a href="/?package=Thailand"><img src="/Images/Thailand.png" title="Thailand"></a>
      </div> 
        <div class="column kerala">
          <a href="/?package=Kerala"><img src="/Images/Kerala.png" title="Kerala"></a>
        </div> 
        <div class="column maldives">
          <a href="/?package=Maldives"><img src="/Images/Maldives.png" title="Maldives"></a>
        </div>
        <div  class="column himachal">
          <a href="/?package=Himachal"><img src="/Images/Himachal.png" title="Himachal Pradesh"></a>
        </div>
        <div  class="column kashmir">
          <a href="/?package=Kashmir"><img src="/Images/Kashmir.png" title="Kashmir"></a>
        </div>
        <div  class="column goa">
          <a href="/?package=Goa"><img src="/Images/Goa.png" title="Goa"></a>
        </div>
        </div>

        <div class="mb-row"> 
            <div class="mb-column cruise">
              <a href="/?package=Cruise"><img src="/Images/Cruise_I.png" title="Cruise"><figcaption>Cruise</figcaption></a>
            </div> 
            <div class="mb-column bali">
              <a href="/?package=Bali"><img src="/Images/Bali_I.png" title="Bali"><figcaption>Bali</figcaption></a>
            </div>
            <div class="mb-column dubai">
              <a href="/?package=Dubai"><img src="/Images/Dubai_I.png" title="Dubai"><figcaption>Dubai</figcaption></a>
            </div>
            <div class="mb-column thailand">
              <a href="/?package=Thailand"><img src="/Images/Thailand_I.png" title="Thailand"><figcaption>Thailand</figcaption></a>
            </div> 
            <div class="mb-column kerala">
              <a href="/?package=Kerala"><img src="/Images/Kerala_I.png" title="Kerala"><figcaption>Kerala</figcaption></a>
            </div> 
            <div class="mb-column maldives">
              <a href="/?package=Maldives"><img src="/Images/Maldives_I.png" title="Maldives"><figcaption>Maldives</figcaption></a>
            </div>
            <div  class="mb-column himachal">
              <a href="/?package=Himachal"><img src="/Images/Himachal_I.png" title="Himachal Pradesh"><figcaption>Himachal</figcaption></a>
            </div>
            <div  class="mb-column kashmir">
              <a href="/?package=Kashmir"><img src="/Images/Kashmir_I.png" title="Kashmir"><figcaption>Kashmir</figcaption></a>
            </div>
            <div  class="mb-column goa">
              <a href="/?package=Goa"><img src="/Images/Goa_I.png" title="Goa"><figcaption>Goa</figcaption></a>
            </div>
            </div>
    <div class="d-btn"><a href="/?page=Packages"><button>Explore More</button></a></div>
  </section>

  <!-- Numbers -->
  <section class="numbers">
    <div class="hero-image">
      <div id="counter">
        <div class="item">
          <h1 class="count" data-number="493" ></h1>
          <h3 class="text">+ Happy Guests</h3>
        </div>
        <div class="item">
          <h1 class="count" data-number="6" ></h1>
          <h3 class="text">+ Years Experience</h3>
        </div>
        <div class="item">
          <h1 class="count" data-number="288" ></h1>
          <h3 class="text">+ Tours Completed</h3>
        </div>
        <div class="item">
          <h1 class="count" data-number="150" ></h1>
          <h3 class="text">+ Tour Destinations</h3>
      </div>        
      </div>
    </div>
  </section>

  <!-- Contact & Footer -->
  <footer id="contact" class="footer">
    <div class="footer-top">
        <div class="footer-brand">
          <a href="/?index.ejs" class="logo"><img src="/Images/Logo_Footer.png" alt="GTV logo"></a>
          <p class="footer-text">Building a legacy of redefining travel,<br>inspiring to explore and sharing<br>reasons to celebrate life!</p>
          </div>
          <div class="code">
          <a href="https://instagram.com/gtvtours?igshid=ZDdkNTZiNTM=" class="qr-code"><img src="/Images/GTV_QR.png" alt="GTV Tours"></a>
          </div>
          <div class="left">
          <h4>Call To Action</h4>
          <h2>Ready For Unforgatable<br>Travel. Remember Us!</h2> 
          </div>
          <div class="footer-contact">
            <h4 class="contact-title">Contact Us</h4>
            <p class="contact-text">Feel free to contact and<br>reach us !!</p>
            <ul class="c-list">
              <li class="contact-item">
                <i class="fa fa-phone"></i>
                <a href="tel:+91 7498979710" class="contact-link">+91 7498979710</a>
              </li>
              <li class="contact-item">
                <i class="fa fa-envelope"></i>
                <a href="mailto:gtvtours@gmail.com" class="contact-link">gtvtours@gmail.com</a>
              </li>
              <li class="contact-item">
                <i class="fa fa-map-marker"></i>
                <address>&nbsp;&nbsp;353 - Manimahal, 2nd Floor,<br>Room No. - A/8, Kalbadevi Road,<br>Mumbai, Maharashtra - 400 002.</address>
              </li>
            </ul>
          </div>
      </div>
      <footer class="py">
        <ul class="nav justify-content-center pb">
          <li class="nav-item"><a href="/?page=pp" class="policy">Privacy Policy</a></li>&nbsp;&nbsp; | &nbsp;&nbsp;
          <li class="nav-item"><a href="/?page=tnc" class="policy">Terms and Conditions</a></li>
        </ul>        
        <p class="text-center">© 2023 <a id="company" href="/?index.ejs">Globetrotters Voyage</a>. All rights reserved - Design:&nbsp;&nbsp;<a href="mailto:k.keyonix@gmail.com" id="design-company">Keyonix</a></p>
      </footer>
  </footer>

  <!-- Go To Top -->
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up fa-2x"></i></button>

  <!-- Script File -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
