<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dubai | GTV Tours</title>
    <link rel="shortcut icon" href="/Public/Images/GTV_BLACK_MAN.png" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/Public/CSS/dubai.css">
    <link href='https://fonts.googleapis.com/css?family=Sansita' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&family=Nabla&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
<nav class="bg">
  <div class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="nav-logo">
        <a class="navbar-brand" href="/index.html"><img src="/Public/Images/Logo_Nav.png" id="navbar" alt="Globetrotters Voyage"></a>
      </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/Public/views/rm.html ">About Us</a>
            </li>
            <!-- <li class="nav-item">
            <a class="nav-link" href="#gallery">Gallery</a>
            </li> -->
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="list" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Domestic</a>
            <ul class="dropdown-menu">
                <div class="pack">
                <div class="dom">
                  <li><a class="dropdown-item" href="/Public/views/andaman.html">Andaman</a></li>
                  <li><a class="dropdown-item" href="/Public/views/goa.html">Goa</a></li>
                  <li><a class="dropdown-item" href="/Public/views/himachal.html">Himachal</a></li>
                  <li><a class="dropdown-item" href="/Public/views/kashmir.html">Kashmir</a></li>
                  <li><a class="dropdown-item" href="/Public/views/kerala.html">Kerala</a></li>
                  <li><a class="dropdown-item" href="/Public/views/ne.html">North East</a></li>
                  <li><a class="dropdown-item" href="/Public/views/rj.html">Rajasthan</a></li>
                </div>
                </div>
            </ul>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="list" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">International</a>
            <ul class="dropdown-menu"> 
                <div class="ext">
                <li><a class="dropdown-item" id="cru" href="/Public/views/cruise.html">Cruises</a></li>
                <li><a class="dropdown-item" id="fd" href="/Public/views/fd.html">Fixed Departures</a></li>
                </div><hr>
                <div class="int">
                  <div class="list1">
                    <li><a class="dropdown-item" href="/Public/views/bali.html">Bali</a></li>
                    <li><a class="dropdown-item" href="/Public/views/dubai.html">Dubai</a></li>
                    <li><a class="dropdown-item" href="/Public/views/europe.html">Europe</a></li>
                    <li><a class="dropdown-item" href="/Public/views/hongkong.html">Hong Kong</a></li>
                    <li><a class="dropdown-item" href="/Public/views/malaysia.html">Malaysia</a></li>
                    <li><a class="dropdown-item" href="/Public/views/ud.html">Maldives</a></li>
                    <li><a class="dropdown-item" href="/Public/views/mauritius.html">Mauritius</a></li>
                  </div>
                  <div class="list2">
                    <li><a class="dropdown-item" href="/Public/views/sa.html">Saudi Arabia</a></li>
                    <li><a class="dropdown-item" href="/Public/views/ud.html">Singapore</a></li>
                    <li><a class="dropdown-item" href="/Public/views/sl.html">Sri Lanka</a></li>
                    <li><a class="dropdown-item" href="/Public/views/thailand.html">Thailand</a></li>
                    <li><a class="dropdown-item" href="/Public/views/turkey.html">Turkey</a></li>
                    <li><a class="dropdown-item" href="/Public/views/ud.html">Vietnam</a></li>
                  </div>
            </div>
            </ul>
            </li>
            <!-- <li class="nav-item">
            <a class="nav-link" href="#packages">Popular</a>
            </li> -->
            <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Us</a>
            </li>
        </ul>
        </div>
    </div>

    <!-- Search Filter -->
    <div class="search-dropdown">
      <button onclick="myFunction()" class="search-drp-button"><input type="text" placeholder="Search for destinations..." id="myInput" onkeyup="filterFunction()"></button>
      <div id="myDropdown" class="search-content">
        <!-- Andaman -->
        <a href="/Public/views/andaman.html" data-sort="Andaman">Andaman</a>
        <a href="/Public/views/andaman.html" data-sort="Port Blair">Port Blair</a>
        <a href="/Public/views/andaman.html" data-sort="Havelock">Havelock</a>
        <a href="/Public/views/andaman.html" data-sort="Neil Island">Neil Island</a>

        <!-- Bali -->
        <a href="/Public/views/bali.html" data-sort="Bali">Bali</a>
        <a href="/Public/views/bali.html" data-sort="Kuta">Kuta</a>
        <a href="/Public/views/bali.html" data-sort="Ubud">Ubud</a>
        <a href="/Public/views/bali.html" data-sort="Seminyak">Seminyak</a>
        <a href="/Public/views/bali.html" data-sort="Nusa Dua">Nusa Dua</a>

        <!-- Cruises -->
        <a href="/Public/views/cruise.html" data-sort="Cruise">Cruise</a>
        <a href="/Public/views/cruise.html" data-sort="Genting Dream Cruise">Genting Dream Cruise</a>
        <a href="/Public/views/cruise.html" data-sort="Royal Caribbean Cruise">Royal Caribbean Cruise</a>
        <a href="/Public/views/cruise.html" data-sort="Norwegian Cruise Line">Norwegian Cruise Line</a>
        <a href="/Public/views/cruise.html" data-sort="Havila Cruise">Havila Cruise</a>
        <a href="/Public/views/cruise.html" data-sort="MSC Cruise">MSC Cruise</a>
        <a href="/Public/views/cruise.html" data-sort="Cordelia Cruise">Cordelia Cruise</a>

        <!-- Dubai -->
        <a href="/Public/views/dubai.html" data-sort="Dubai">Dubai</a>
        <a href="/Public/views/dubai.html" data-sort="Abu Dhabi">Abu Dhabi</a>

        <!-- Europe -->
        <a href="/Public/views/europe.html" data-sort="Europe">Europe</a>
        <a href="/Public/views/europe.html" data-sort="Austria">Austria</a>
        <a href="/Public/views/europe.html" data-sort="Germany">Germany</a>
        <a href="/Public/views/europe.html" data-sort="France">France</a>
        <a href="/Public/views/europe.html" data-sort="Switzerland">Switzerland</a>
        <a href="/Public/views/europe.html" data-sort="Italy">Italy</a>
        <a href="/Public/views/europe.html" data-sort="Vatican">Vatican</a>
        <a href="/Public/views/europe.html" data-sort="Netherlands">Netherlands</a>
        <a href="/Public/views/europe.html" data-sort="Belgium">Belgium</a>
        <a href="/Public/views/europe.html" data-sort="Leichtenstein">Leichtenstein</a>
        <a href="/Public/views/europe.html" data-sort="Hungary">Hungary</a>
        <a href="/Public/views/europe.html" data-sort="Czech">Czech</a>
        <a href="/Public/views/europe.html" data-sort="Spain">Spain</a>
        <a href="/Public/views/europe.html" data-sort="United Kingdom">United Kingdom</a>
        <a href="/Public/views/europe.html" data-sort="Croatia">Croatia</a>
        <a href="/Public/views/europe.html" data-sort="Slovenia">Slovenia</a>
        <a href="/Public/views/europe.html" data-sort="Denmark">Denmark</a>
        <a href="/Public/views/europe.html" data-sort="Norway">Norway</a>
        <a href="/Public/views/europe.html" data-sort="Swedan">Swedan</a>
        <a href="/Public/views/europe.html" data-sort="Finland">Finland</a>
        <a href="/Public/views/europe.html" data-sort="Scotland">Scotland</a>
        <a href="/Public/views/europe.html" data-sort="Iceland">Iceland</a>

        <!-- Goa -->
        <a href="/Public/views/goa.html" data-sort="Goa">Goa</a>
        <a href="/Public/views/goa.html" data-sort=" North Goa">North Goa</a>
        <a href="/Public/views/goa.html" data-sort="South Goa">South Goa</a>

        <!-- Himachal Pradesh -->
        <a href="/Public/views/himachal.html" data-sort="Himachal Pradesh">Himachal Pradesh</a>
        <a href="/Public/views/himachal.html" data-sort="Dharamshala">Dharamshala</a>
        <a href="/Public/views/himachal.html" data-sort="Mcleodganj">Mcleodganj</a>
        <a href="/Public/views/himachal.html" data-sort="Manali">Manali</a>
        <a href="/Public/views/himachal.html" data-sort="Shimla">Shimla</a>
        <a href="/Public/views/himachal.html" data-sort="Dalhousie">Dalhousie</a>
        <a href="/Public/views/himachal.html" data-sort="Kasol">Kasol</a>
        <a href="/Public/views/himachal.html" data-sort="Kullu">Kullu</a>
        <a href="/Public/views/himachal.html" data-sort="Manikaran">Manikaran</a>
        <a href="/Public/views/himachal.html" data-sort="Amritsar">Amritsar</a>

        <!-- Hong Kong -->
        <a href="/Public/views/hongkong.html" data-sort="Hong Kong">Hong Kong</a>
        <a href="/Public/views/hongkong.html" data-sort="Disneyland">Disneyland</a>
        <a href="/Public/views/hongkong.html" data-sort="Macau">Macau</a>

        <!-- Rajasthan -->
        <a href="/Public/views/rj.html" data-sort="Jaisalmer">Rajasthan</a>
        <a href="/Public/views/rj.html" data-sort="Jaisalmer">Jaisalmer</a>
        <a href="/Public/views/rj.html" data-sort="Thar Desert">Thar Desert</a>
        <a href="/Public/views/rj.html" data-sort="Kuldhara">Kuldhara</a>

        <!-- Kashmir -->
        <a href="/Public/views/kashmir.html" data-sort="Kashmir">Kashmir</a>
        <a href="/Public/views/kashmir.html" data-sort="Srinagar">Srinagar</a>
        <a href="/Public/views/kashmir.html" data-sort="Pahalgam">Pahalgam</a>
        <a href="/Public/views/kashmir.html" data-sort="Gulmarg">Gulmarg</a>

        <!-- Kerala -->
        <a href="/Public/views/kerala.html" data-sort="Kerala">Kerala</a>
        <a href="/Public/views/kerala.html" data-sort="Munnar">Munnar</a>
        <a href="/Public/views/kerala.html" data-sort="Alleppey">Alleppey</a>
        <a href="/Public/views/kerala.html" data-sort="Thekkady">Thekkady</a>
        <a href="/Public/views/kerala.html" data-sort="Cochin">Cochin</a>
        <a href="/Public/views/kerala.html" data-sort="Kovalam">Kovalam</a>

        <!-- Malaysia -->
        <a href="/Public/views/malaysia.html" data-sort="Malaysia">Malaysia</a>
        <a href="/Public/views/malaysia.html" data-sort="Kuala Lumpur">Kuala Lumpur</a>
        <a href="/Public/views/malaysia.html" data-sort="Genting">Genting</a>
        <a href="/Public/views/malaysia.html" data-sort="Langkawi">Langkawi</a>

        <!-- Maldives -->
        <a href="/Public/views/ud.html" data-sort="Maldives">Maldives</a>

        <!-- Mauritius -->
        <a href="/Public/views/mauritius.html" data-sort="Mauritius">Mauritius</a>

        <!-- North East -->
        <a href="/Public/views/ne.html" data-sort="North East">North East</a>
        <a href="/Public/views/ne.html" data-sort="Gangtok">Gangtok</a>
        <a href="/Public/views/ne.html" data-sort="Darjeeling">Darjeeling</a>
        <a href="/Public/views/ne.html" data-sort="Pelling">Pelling</a>
        <a href="/Public/views/ne.html" data-sort="Lachen">Lachen</a>
        <a href="/Public/views/ne.html" data-sort="Lachung">Lachung</a>

        <!-- Saudi Arabia -->
        <a href="/Public/views/sa.html" data-sort="Saudi Arabia">Saudi Arabia</a>
        <a href="/Public/views/sa.html" data-sort="Abha">Abha</a>
        <a href="/Public/views/sa.html" data-sort="Riyadh">Riyadh</a>
        <a href="/Public/views/sa.html" data-sort="Jeddah">Jeddah</a>
        <a href="/Public/views/sa.html" data-sort="Alula">Alula</a>

        <!-- Singapore -->
        <a href="/Public/views/ud.html" data-sort="Singapore">Singapore</a>

        <!-- Srilanka -->
        <a href="/Public/views/sl.html" data-sort="Sri Lanka">Sri Lanka</a>
        <a href="/Public/views/sl.html" data-sort="Kandy">Kandy</a>
        <a href="/Public/views/sl.html" data-sort="Nuwara Eliya">Nuwara Eliya</a>
        <a href="/Public/views/sl.html" data-sort="Bentota">Bentota</a>
        <a href="/Public/views/sl.html" data-sort="Colombo">Colombo</a>

        <!-- Thailand -->
        <a href="/Public/views/thailand.html" data-sort="Thailand">Thailand</a>
        <a href="/Public/views/thailand.html" data-sort="Bangkok">Bangkok</a>
        <a href="/Public/views/thailand.html" data-sort="Pattaya">Pattaya</a>
        <a href="/Public/views/thailand.html" data-sort="Phuket">Phuket</a>
        <a href="/Public/views/thailand.html" data-sort="Krabi">Krabi</a>

        <!-- Turkey -->
        <a href="/Public/views/turkey.html" data-sort="Turkey">Turkey</a>
        <a href="/Public/views/turkey.html" data-sort="Istanbul">Istanbul</a>
        <a href="/Public/views/turkey.html" data-sort="Cappadocia">Cappadocia</a>
        <a href="/Public/views/turkey.html" data-sort="Antalya">Antalya</a>

        <!-- Vietnam -->
        <a href="/Public/views/ud.html" data-sort="Vietnam">Vietnam</a>

      </div>
    </div>
  </div>    
</nav>

    <!-- Packages -->
    <div class="head">
      <div class="left-main">
        <h1>Dubai Packages</h1>
        <h4>Get Instant Quotes</h4>
        <br>
        <ul>
          <li>On Ground Support for Great Customer Experience</li>
          <li>Simple Payment & TCS Process</li>
          <li>Faster Booking Confirmation</li>
        </ul>
      </div>
      <div class="right">
        <img src="/Public/Images/gtv.png" alt="Let's Travel">
      </div>
    </div>

    <!-- Package Discription -->
    <div class="package">

      <!-- Item 1 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <div class="highlight" id="item-1">Summer Special</div>
          <h4>4N Dubai Summer Special Deal</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li><strong>Hotel Option 1 </strong>: Ramada Plaza Dubai Deira (Deluxe Room)</li>
                <li><strong>Hotel Option 2 </strong>: Majestic City Retreat Hotel Bur Dubai (Economy Room)</li>
                <li><strong>FREE </strong>Sunset Yacht Cruise from Marina with Live BBQ (with Lounge Access)</li>
                <li>Dubai City Tour Followed By Burj Khalifa 124th Floor - Private</li>
                <li>Ski Dubai (Classic Pass) with Transfers - Private</li>
                <li>Desert Safari with Live Entertainment Show and Barbeque Dinner - Private</li>
                <li>Aquaventure and Lost Chamber Tickets with Transfer - Private</li>
                <li>Booking & Travel Valid till 31st July 2023</li>
                <li>Price will vary during EID Al ADHA : 28th June - 2nd July 2023</li>
                <li>Price Valid for Minimum 4 Pax</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
              <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            </div>
            <div class="tags" id="tags-3">
              <div class="price"><h3>USD 424</h3>
              <p>per person</p>
              </div>
              <div class="d-btn" id="d-btn-3">
                <form action="">
                  <input type="hidden" id="packageTitle" name="packageTitle" value="4N Dubai Summer Special Deal">
                  <button type="submit">Get Quote</button>
                </form>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="item">
      <div class="p-start" id="p-start-3">
        <div class="highlight" id="item-2">Departures Every Tuesday & Friday</div>
        <h4>4N Dubai Fixed Departure - Raviz Deira</h4>
          <hr>
          <ul>
              <li>Daily Breakfast</li>
              <li>Airport Transfers - Pick and Drop</li>
              <li>Dubai Trio - Standard (City Tour, Desert Safari & Dhow Cruise) - SIC</li>
              <li>At the Top Burj Khalifa - 124 & 125 Floors (Non-Prime Time) with Transfers - SIC</li>
              <li>Price is Valid for min 02 Pax</li>
          </ul>
      </div>
      <div class="p-end">
        <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
        <div class="tags" id="tags-3">
            <div class="price"><h3>USD 216</h3>
                <p>per person</p>
            </div>
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Dubai Fixed Departure - Raviz Deira">
                <button type="submit">Get Quote</button>
              </form>
              </div>
            </div>
        </div>
        </div>
      </div>

      <!-- Item 3 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <div class="highlight" id="item-1">Summer Special</div>
          <h4>4N Fun-Tastic Dubai Summer Deal</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li><strong>Hotel </strong>- Raviz Center Point Hotel (4 Star)</li>
                <li>Dubai Trio - Standard (City Tour, Desert Safari & Dhow Cruise) - SIC</li>
                <li>Ski Dubai (Classic Pass) with Transfers - SIC</li>
                <li>At the Top Burj Khalifa - 124 & 125 Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Dubai Parks 01 Day 01 Park with Transfers - SIC</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
            <div class="tags" id="tags-3">
              <div class="d-btn" id="d-btn-3">
                <form action="">
                  <input type="hidden" id="packageTitle" name="packageTitle" value="4N Fun-Tastic Dubai Summer Deal">
                  <button type="submit">Get Quote</button>
                </form>
                </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 4 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <div class="highlight" id="item-3">Top Selling Deal</div>
          <h4>4N Dubai Family Special Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Dubai Dolphin and Seal Show Regular Tickets with Transfers - SIC</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Dubai Family Special Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 5 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>4N Dubai - Louvre Museum Special</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai City Tour Followed By Burj Khalifa 124th Floor - Private</li>
                <li>Dubai Frame with Transfers - Private</li>
                <li>Green Planet with Transfers - Private</li>
                <li>Abu Dhabi City Tour - Private</li>
                <li>Louvre Museum - Tickets Only</li>
                <li>Pickup from DXB Airport | Drop at DXB Airport</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Dubai - Louvre Museum Special">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 6 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>3N Most Popular Dubai Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="3N Most Popular Dubai Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 7 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>4N Best Selling Dubai Honeymoon Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Dubai Parks 01 Day 01 Park with Transfers - SIC</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Best Selling Dubai Honeymoon Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 8 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>3N Blissful Dubai Honeymoon Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Standard (Dubai City Tour, Red Desert Safari, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>Ski Dubai (Classic Pass) with Transfers - Private</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="3N Blissful Dubai Honeymoon Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 9 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>4N Dubai Value for Money</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - Private</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Dubai Value for Money">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 10 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>5N Dubai Honeymoon Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Dubai Parks 01 Day 01 Park with Transfers - SIC</li>
                <li>Dubai Frame with Transfers - SIC</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="5N Dubai Honeymoon Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 11 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>5N Dazzling Dubai Family Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - Private</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - Private</li>
                <li>Dubai Parks 01 Day 01 Park with Transfers - SIC</li>
                <li>Aquaventure and Lost Chamber Tickets with Transfer - SIC</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="5N Dazzling Dubai Family Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 12 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>5N Dubai Luxury Holiday Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>Ski Dubai (Classic Pass) with Transfers - Private</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - Private</li>
                <li>Abu Dhabi City Tour with Ferrari World - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="5N Dubai Luxury Holiday Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 13 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>5N Romantic Dubai Honeymoon Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai City Tour Followed By Burj Khalifa (Non-Prime Time) 124th Floor - Private</li>
                <li>Ski Dubai (Classic Pass) with Transfers - Private</li>
                <li>Lotus Cruise With Transfers - Private</li>
                <li>Deluxe Desert Safari with VIP Sitting (with serving waiter) - Private</li>
                <li>The View at the Palm - Non Prime Time (General Pass) with Transfers - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="5N Romantic Dubai Honeymoon Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 14 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>5N Dubai Family Special Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Dubai Parks 01 Day 01 Park with Transfers - SIC</li>
                <li>Dubai Dolphin and Seal Show Regular Tickets with Transfers - SIC</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="5N Dubai Family Special Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 15 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>4N Blissful Dubai Honeymoon Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Abu Dhabi City Tour with Ferrari World - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Blissful Dubai Honeymoon Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 16 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>4N Fun-Tastic Dubai Family Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Green Planet with Transfers - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Fun-Tastic Dubai Family Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 17 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>4N Dubai Luxury Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Aquaventure and Lost Chamber Tickets with Transfer - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Dubai Luxury Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 18 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>3N Dubai Luxury Holiday Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Ski Dubai (Classic Pass) with Transfers - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="3N Dubai Luxury Holiday Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 19 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>5N Glamorous Dubai Honeymoon Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At The Top Burj Khalifa - 124 and 125 Floors (Non Prime) and The Roof Top Lunch/Dinner with Transfers - Private</li>
                <li>Dubai Parks 01 Day 01 Park with Transfers - SIC</li>
                <li>Deluxe Desert Safari with VIP Sitting (with serving waiter) - Private</li>
                <li>MotionGate/ Bollywood/ Legoland Park / Legoland Water Park (General Pass) with Transfers - Private</li>
                <li>Lotus Dinner Cruise With Transfers - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="5N Glamorous Dubai Honeymoon Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 20 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>5N Friendly Dubai Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>MotionGate/ Bollywood/ Legoland Park / Legoland Water Park (General Pass) with Transfers - SIC</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="5N Friendly Dubai Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 21 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>4N Dubai Honeymoon Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Dubai Parks 01 Day 01 Park with Transfers - SIC</li>
                <li>MotionGate/ Bollywood/ Legoland Park / Legoland Water Park (General Pass) with Transfers - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Dubai Honeymoon Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 22 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>4N Fun Packed Dubai Holiday Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Safari Park with Transfers - Private</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="4N Fun Packed Dubai Holiday Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 23 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>3N Value for Money Dubai Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Dubai Frame with Transfers - SIC</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="3N Value for Money Dubai Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 24 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>5N Dazzling Dubai Family Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Dubai Parks 01 Day 01 Park with Transfers - SIC</li>
                <li>MotionGate/ Bollywood/ Legoland Park / Legoland Water Park (General Pass) with Transfers - SIC</li>
                <li>Kidzania - Tickets Only</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="5N Dazzling Dubai Family Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

        <!-- Item 25 -->
      <div class="item">
        <div class="p-start" id="p-start-3">
          <h4>5N Money Saver Dubai Package</h4>
            <hr>
            <ul>
                <li>Daily Breakfast</li>
                <li>Dubai Trio - Deluxe (Dubai City Tour, Desert Safari with Live Entertainment Show and Barbeque Dinner, Dhow Cruise on Creek with Dinner) - SIC</li>
                <li>At the Top Burj Khalifa - 124th Floors (Non-Prime Time) with Transfers - SIC</li>
                <li>Dubai Frame with Transfers - SIC</li>
                <li>MotionGate/ Bollywood/ Legoland Park / Legoland Water Park (General Pass) with Transfers - SIC</li>
                <li>Private Airport Transfers</li>
            </ul>
        </div>
        <div class="p-end">
          <div class="p-end-1">
            <div class="att" id="att-3">
                <i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              </div>
          <div class="tags" id="tags-3">
            <div class="d-btn" id="d-btn-3">
              <form action="">
                <input type="hidden" id="packageTitle" name="packageTitle" value="5N Money Saver Dubai Package">
                <button type="submit">Get Quote</button>
              </form>
              </div>
          </div>
          </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Contact & Footer -->
  <footer id="contact" class="footer">
    <div class="footer-top">
        <div class="footer-brand">
          <a href="/index.html" class="logo"><img src="/Public/Images/Logo_Footer.png" alt="GTV logo"></a>
          <p class="footer-text">Building a legacy of redefining travel,<br>inspiring to explore and sharing<br>reasons to celebrate life!</p>
          </div>
          <div class="code">
          <a href="https://instagram.com/gtvtours?igshid=ZDdkNTZiNTM=" class="qr-code"><img src="/Public/Images/GTV_QR.png" alt="GTV Tours"></a>
          </div>
          <div class="left">
          <h4>Call To Action</h4>
          <h2>Ready For Unforgatable<br>Travel. Remember Us!</h2> 
          </div>
          <div class="footer-contact">
            <h4 class="contact-title">Contact Us</h4>
            <p class="contact-text">Feel free to contact and<br>reach us !!</p>
            <ul class="c-list">
              <li class="contact-item">
                <i class="fa fa-phone"></i>
                <a href="tel:+91 7498979710" class="contact-link">+91 74989 79710</a>
              </li>
              <li class="contact-item">
                <i class="fa fa-envelope"></i>
                <a href="mailto:gtvtours@gmail.com" class="contact-link">gtvtours@gmail.com</a>
              </li>
              <!-- <li class="contact-item">
                <i class="fa fa-map-marker"></i>
                <address>&nbsp;&nbsp;353 - Manimahal, 2nd Floor,<br>Room No. - A/8, Kalbadevi Road,<br>Mumbai, Maharashtra - 400 002.</address>
              </li> -->
            </ul>
          </div>
      </div>
      <footer class="py">
        <ul class="nav justify-content-center pb">
          <li class="nav-item"><a href="/Public/views/pp.html" class="policy">Privacy Policy</a></li>&nbsp;&nbsp; | &nbsp;&nbsp;
          <li class="nav-item"><a href="/Public/views/tnc.html" class="policy">Terms and Conditions</a></li>
        </ul>        
        <p class="text-center">© 2023 <a id="company" href="/index.html">Globetrotters Voyage</a>. All rights reserved - Design:&nbsp;&nbsp;<a href="mailto:k.keyonix@gmail.com" id="design-company">Keyonix</a></p>
      </footer>
  </footer>

  <!-- Go To Top -->
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up fa-2x"></i></button>

  <!-- Script File -->
  <script src="/Public/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>